{% extends 'base.html.twig' %}

{% block title %}Modifier Chauffeur
{% endblock %}

{% block body %}

	<section class="container  content" >
		<div class="row">
			<div class="text-center content">
				<h1 class="titleContact">Edit profile</h1>
				</div>
				{{ form_start(registrationForm) }}
				<div class="mb-3">
					<legend class="title">Mon identité</legend>
					{{ form_row(registrationForm.genre, {
						'attr': {'class': 'text-field'},
						'label_attr': {'class': 'custom-label'}}) }}
					{{ form_row(registrationForm.name, {
						'attr': {'class': 'text-field'},
						'label_attr': {'class': 'custom-label'}}) }}
					{{ form_row(registrationForm.surname, {
						'attr': {'class': 'text-field'},
						'label_attr': {'class': 'custom-label'}}) }}
					{{ form_row(registrationForm.email, {
						'attr': {'class': 'text-field'},
						'label_attr': {'class': 'custom-label'}}) }}
					{{ form_row(registrationForm.phoneNumber, {
						'attr': {'class': 'text-field'},
						'label_attr': {'class': 'custom-label'}}) }}

				</div>
				<div class="mb-3">
					<legend class="title">Mes coordonnées</legend>
					{{ form_row(registrationForm.address, {
						'attr': {'class': 'text-field'},
						'label_attr': {'class': 'custom-label'}}) }}
					{{ form_row(registrationForm.zipcode, {
						'attr': {'class': 'text-field'},
						'label_attr': {'class': 'custom-label'}}) }}
					{{ form_row(registrationForm.city, {
						'attr': {'class': 'text-field'},
						'label_attr': {'class': 'custom-label'}}) }}


					{{ form_row(registrationForm.plainPassword , {
						'attr': {'class': 'text-field'},
						'label_attr': {'class': 'custom-label'}}) }}
					{{ form_row(registrationForm.RGBDConsent, {
						'attr': {'class': 'text-field'},
						'label_attr': {'class': 'custom-label'}}) }}

					<button type="submit" class="btn submitMessage btn-lg my-3 ">Update</button>
					<a href="{{path('app_main')}}" class="btn submitMessage btn-lg my-3">Get back to the main page</a>
					{{ form_end(registrationForm) }}


				</div>


			
		</div>
	</section>

{% endblock %}
