{% extends 'base.html.twig' %}

{% block title %}registration
{% endblock %}

{% block body %}

				<div class="lightGreyBar spaceBetween content">
				<h1 class="text-center service-title spaceBetween">registration
				</h1>
				<div class="clearfix"></div>
            	</div>


	<section class="container " style="text-align:start;">
		
				{{ form_start(registrationForm) }}
			<div class="row">	
				<div class="col-md-6">
					<legend class="registrationForm spaceBetween" >Mon identité</legend>
					
					{{ form_row(registrationForm.genre, {
						'attr': {'class': 'text-field'},
						'label_attr': {'class': 'custom-label'}}) }}

					{{ form_row(registrationForm.name , {
						'attr': {'class': 'text-field'},
						'label_attr': {'class': 'custom-label'}}) }}
					{{ form_row(registrationForm.surname , {
						'attr': {'class': 'text-field'},
						'label_attr': {'class': 'custom-label'}}) }}
					{{ form_row(registrationForm.email , {
						'attr': {'class': 'text-field'},
						'label_attr': {'class': 'custom-label'}}) }}
					{{ form_row(registrationForm.phoneNumber , {
						'attr': {'class': 'text-field'},
						'label_attr': {'class': 'custom-label'}}) }}			
				</div>
				<div class="col-md-6">
					<legend class="registrationForm spaceBetween">My contact details</legend>
					{{ form_row(registrationForm.address , {
						'attr': {'class': 'text-field'},
						'label_attr': {'class': 'custom-label'}}) }}
					{{ form_row(registrationForm.zipcode , {
						'attr': {'class': 'text-field'},
						'label_attr': {'class': 'custom-label'}}) }}
					{{ form_row(registrationForm.city , {
						'attr': {'class': 'text-field'},
						'label_attr': {'class': 'custom-label'}}) }}


					{{ form_row(registrationForm.plainPassword , {
						'attr': {'class': 'text-field'},
						'label_attr': {'class': 'custom-label'}}) }}
					{{ form_row(registrationForm.RGBDConsent , {
						'attr': {'class': 'text-field'},
						'label_attr': {'class': 'custom-label'}}) }}
				</div>		
		</div>
		<button type="submit" class="btn submitMessage btn-lg my-3">Register</button>
					<a href="{{path('app_login')}}" class="btn submitMessage">Log in</a>
					{{ form_end(registrationForm) }}
	</section>

{% endblock %}
