{% extends 'base.html.twig' %}

{% block title %}
	Add a new car
{% endblock %}
{% block body %}
	<div class="container p-4 mt-4  ">
		<div class="row   justify-content-center content  ">
			<div class="col-sm-12 col-md-6 register   ">
				<div class=" text-center spaceBetween">
					<h1 class="titleContact" >Add a new vehicule</h1>
						<div class="clearfix"></div>
				</div>
				{{ form_start(vehiculeForm) }}
				<div class="mb-3">
					{{ form_row(vehiculeForm.typeVehicule, {
						'attr': {'class': 'text-field'},
						'label_attr': {'class': 'custom-label'}}) }}
					{{ form_row(vehiculeForm.numberPlace, {
						'attr': {'class': 'text-field'},
						'label_attr': {'class': 'custom-label'}}) }}
					{{ form_row(vehiculeForm.brand, {
						'attr': {'class': 'text-field'},
						'label_attr': {'class': 'custom-label'}}) }}
					{{ form_row(vehiculeForm.model, {
						'attr': {'class': 'text-field'},
						'label_attr': {'class': 'custom-label'}}) }}
					{{ form_row(vehiculeForm.color, {
						'attr': {'class': 'text-field'},
						'label_attr': {'class': 'custom-label'}}) }}
					{{ form_row(vehiculeForm.energie, {
						'attr': {'class': 'text-field'},
						'label_attr': {'class': 'custom-label'}}) }}
					{{ form_row(vehiculeForm.numberDoor, {
						'attr': {'class': 'text-field'},
						'label_attr': {'class': 'custom-label'}}) }}
					{{ form_row(vehiculeForm.licensePlate, {
						'attr': {'class': 'text-field'},
						'label_attr': {'class': 'custom-label'}}) }}
					{{ form_row(vehiculeForm.image , {
						'attr': {'class': 'text-field'},
						'label_attr': {'class': 'custom-label'}}) }}

					<div class="spaceBetween">
						<button type="submit" class="btn submitMessage btn-ld my-3 " style="width:100%;	">Add a new Vehicule</button>
					</div>
					{{ form_end(vehiculeForm) }}


				</div>


			</div>


		</div>
	</div>

{% endblock %}
