{% extends 'base.html.twig' %}


{% block title %}Place an order
{% endblock %}

{% block body %}

	<div class="container orderCustom">
	<h1 class="titleContact"> Direct order <div class="clearfixTitle"></div></h1>
		<div class="row register">
				{{ form_start(rideForm, {
						'attr': {'class': 'text-field'},
						'label_attr': {'class': 'custom-label'}}) }}
				{{ form_row(rideForm.location, {
						'attr': {'class': 'text-field'},
						'label_attr': {'class': 'custom-label'}}) }}
				{{ form_row(rideForm.rendezVous, {
						'attr': {'class': 'text-field'},
						'label_attr': {'class': 'custom-label'}}) }}
				{{ form_row(rideForm.destination, {
						'attr': {'class': 'text-field'},
						'label_attr': {'class': 'custom-label'}}) }}
				{{ form_row(rideForm.rendez_vous_time, {
						'attr': {'class': 'text-field'},
						'label_attr': {'class': 'custom-label'}}) }}

				<a class="btn submitMessage btn-lg" href="{{path('passager_command', {'id':app.user.id})}}">
					Order for later</a>
				<button type="submit" class="btn submitMessage btn-lg my-3">Search</button>

				{{ form_end(rideForm) }}

			</div>
		</div>
	</div>

{% endblock %}
