{% extends 'base.html.twig' %}

{% block title %}Passenger menu
{% endblock %}

{% block body %}

	<div class="container profil content ">
			<h1 class="titleContact text-center ">Menu<div class="clearfixTitle"></div> </h1>
			<div class="row  justify-content-center">
				
				<div class="col-md-4">
					<a class="btn submitMessage btnCustom w-100 mb-2" href="{{path('passager_profil', {'id':app.user.id})}}" >My profil</a>
					<a class="btn submitMessage btnCustom w-100 mb-2" href="{{path('passager_mesCommands', {'id':app.user.id})}}" >My order</a>
					<a class="btn submitMessage btnCustom w-100 mb-2" href="{{path('passager_edit', {'id':app.user.id})}}" >Modify my profil</a>
					{# <a class="btn submitMessage btnCustom" href="{{path('passager_suivreCommande', {'id':app.user.id})}}" >Follow my order</a> #}
					<a class="btn submitMessage btnCustom w-100 mb-2" href="{{path('rating_driver', {'id':app.user.id})}}" >My review</a>
					<a class="btn submitMessage btnCustom w-100 mb-2" href="{{path('passager_newCommand', {'id':app.user.id})}}" >Order a new ride</a>	
				</div>
		</div>
	</div>


{% endblock %}
