{% extends 'base.html.twig' %}

{% block title %}Profile of {{ app.user.surName }}
{% endblock %}

{% block body %}

		<div class="container content profil text-center">
			<div class="avatar-flip">
				{% if app.user.genre == 'F' %}
					<img src="{{ asset('assets/images/femme1.jpg') }}" height="150" width="150">
					<img src="{{ asset('assets/images/femme.jpg') }}" height="150" width="150">
				{% else %}
					<img src="{{ asset('assets/images/homme2.jpg') }}" height="150" width="150">
					<img src="{{ asset('assets/images/homme.jpg')}}" height="150" width="150">
				{% endif %}
			</div>
			<h1 class="text-center titleContact spaceBetween" >My Profile</h3>
				<h2 class="fw-bold text-dark">{{ app.user.name }}{{ app.user.surName }}</h2>
					<h3 class="fw-bold text-dark">{{ app.user.email }}</h4>
					<h3 class="fw-bold text-dark">Driver</h3>
						<a href="{{ path('chauffeur_edit', {'id':app.user.id}) }}"><input class="btn submitMessage" type="submit" value="Modifier le profile"></a>
			</div>
		</div>


		
	
{% endblock %}
